<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
      <h1>
        <%= @user.name %>, <%= @user.email %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'shared/events_list', events: @events %>
  </div>
  <div class="d-hidden col-md-2"></div>
</div>
