<%= render @event %>
  <table class="users-container">
    <th> Attendees</th>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user %></td>
    </tr>
  <% end %>
  <table>
