@import "bootstrap-sprockets";
@import "bootstrap";

$border-style: 0.5px solid #ccc;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

h1{
  text-align: center;
}

body {
  margin-top: 10rem;
}

.main-title {
  font-size: 3rem;
  line-height: 5rem;
  height: 5rem;
}

.welcome-user {
  padding: 15px;
}

.text-white {
  color: white;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.divider {
  border: $border-style;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: $border-style;
  width: 100%;
  margin-bottom: 1.5rem;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.event{
  background-image: linear-gradient(to bottom right, #C805CF, #FF7C09);
  color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20PX;
  margin-right: 20PX;
  flex: 45%;
  position: relative;
  padding: 20px;
}

.hosting_events{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.event span{
  display: block;
}

.d-hidden {
  display: hidden;
}

.all-events{
  background:
    url('event.webp');
  background-size: cover;
  color: white;
}

.action-btn{
  display: inline-block;
  border-radius: 15px;
  height: 30px;
  width: 80px;
  background-image: linear-gradient(to right, #FFD881, #fff);
  color: #000;
  text-align: center;
  padding: 5px;
  bottom: 0;
  position: absolute;
  bottom: 10px;
  left: 200px;
}
